
<div class="home">
    <div class="home-div">
        <h2>Stat the Journey <p>by Avital</p></h2>
        <div class="swiper-container swiper-o home-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <dl class="home-dl">
                        <dt><img src="images/home.gif" alt=""/></dt>
                        <dd>
                            <h3>1Welcome to Avital
                                <p>Professional Product UI</p>
                            </h3>
                            <div>
                                A set mobiel screens, hign quality
                                <p>for use in you web projects</p>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="swiper-slide">
                    <dl class="home-dl">
                        <dt><img src="images/home.gif" alt=""/></dt>
                        <dd>
                            <h3>2Welcome to Avital
                                <p>Professional Product UI</p>
                            </h3>
                            <div>
                                A set mobiel screens, hign quality
                                <p>for use in you web projects</p>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="swiper-slide">
                    <dl class="home-dl">
                        <dt><img src="images/home.gif" alt=""/></dt>
                        <dd>
                            <h3>3Welcome to Avital
                                <p>Professional Product UI</p>
                            </h3>
                            <div>
                                A set mobiel screens, hign quality
                                <p>for use in you web projects</p>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <button class="home-but" ui-sref="register">REGISTER</button>
    </div>
</div>
