<div class="register">
    <div class="register-div"></div>
    <h2>Register</h2>
    <ul class="register-ul">
        <li><input type="text" placeholder="E-mail"/></li>
        <li><input type="text" placeholder="Username"/></li>
        <li><input type="text" placeholder="Password"/></li>
        <li><input type="text" placeholder="Confirm Password"/></li>
    </ul>
    <button class="register-but home-but" ui-sref="SignIn">REGISTER</button>
    <p class="Signin-p">Dont have an ancount?</p>
</div>

